/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Color palette */
:root {
  --primary-color: #F9D71C;
  --secondary-color: #282828;
  --background-color: #F4F4F4;
  --text-color: #333333;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

/* Header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.navigation {
  display: flex;
}

.navigation li {
  margin-left: 2rem;
}

.navigation li:first-of-type {
  margin-left: 0;
}

.navigation a {
  font-size: 1.2rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: var(--primary-color);
}

/* Banner styles */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  color: var(--background-color);
}

.banner h1 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

.banner p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}

/* Menu styles */

.menu {
  padding: 4rem 2rem;
  text-align: center;
}

.menu h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.menu-item {
  margin-bottom: 2rem;
}

.menu-item img {
  width: 100%;
  height: auto;
}

.menu-item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.menu-item p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

/* Contact styles */

.contact {
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.contact h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.contact p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}

.contact form {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact form input,
.contact form textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
 
}